* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font: inherit;
}

body {
    font-size: 12px;
    line-height: 1.5;
}


/* layout */

.page {
    display: flex;
    flex-direction: column;
    width: 1002px;
    height: 670px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.page > section.topbar {
    background: #A83828;
    padding: 17px 15px;
}

.page > section.topbar .logo>svg {
    width: 142px;
    height: 25px;
    vertical-align: top;
}

.page > .page-nav {
    display: flex;
    height: 100%;
}


/* aside */

.page > .page-nav > aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #D2D0D0;
    border-right: 2px solid #C4C1C0;
}

.newSong {
    text-align: center;
    padding: 10px;
}

.newSong.active {
    background: #C4C1C0;
    color: #A83828;
}

#songList-container {
    flex-grow: 1;
}

.songList {
    text-align: left;
}

.songList > li {
    padding: 10px;
}

.songList > li.active {
    background: #C4C1C0;
    border-left: 4px solid #A83828;
}

.uploadArea {}

.draggable {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-direction: column;
}

.clickable {
    padding: 10px;
    cursor: pointer;
}


/* main */

.page > .page-nav > main {
    flex-grow: 1;
    padding-left: 30px;
    padding-top: 20px;
}

.main-nav {
    border-radius: 10px;
    border: 2px dotted #ddd;
    width: 350px;
    margin: 120px auto;
    padding: 30px;
}

.form {
    font-size: 14px;
}

.form > .row {
    margin: 20px 0;
    display: flex;
}

.form > .row > label {
    width: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

.form > .row.actions {
    margin-left: calc(4em + 5px);
}

.form input[type=text] {
    padding: 3px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #b8b8b8;
    height: 30px;
}

.form input[type="text"]:focus {
    outline: none;
    border-color: #A83828;
}

.form input[type=button], .form input[type=submit], .form button {
    border: none;
    cursor: pointer;
    outline: none;
    height: 30px;
    padding-left: 15px;
    background-color: #ddd;
    color: #15222a;
    padding-right: 15px;
    border-radius: 5px;
}

.form button:hover {
    background-color: #D23E39;
    color: #fff;
}


/* loading */

.loading {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
}
.loading.active{
    visibility: visible;
}

.loading::before, .loading::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: #A83828;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: loading 1.5s linear infinite;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes loading {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}